---
layout: page
title: Мечети ногайской степи
---

{% capture images %}
    https://images.unsplash.com/photo-1415381266596-3975189f3277?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b0a050066d523b4a6ea2371629a1ac2&auto=format&fit=crop&w=1955&q=80
{% endcapture %}
{% include gallery images=images caption="Sample 1" cols=1 %}

{% capture images %}
    https://images.unsplash.com/photo-1521241191669-b9fba071b073?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf28aa7065373a9c1b1cbb7e1fd98e62&auto=format&fit=crop&w=934&q=80
    https://images.unsplash.com/photo-1523975314433-488d5ece16f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fcb95f8f069adb48ba16b8de27ce5c90&auto=format&fit=crop&w=934&q=80
{% endcapture %}
{% include gallery images=images caption="Sample 2" cols=2 %}

{% capture images %}
https://images.unsplash.com/photo-1520785808361-2ce0216abf67?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4dcbabe01845b793a3a9fa0afdb60b8c&auto=format&fit=crop&w=1950&q=80
https://images.unsplash.com/photo-1514056637584-6daa6e6f419b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81865663f44755fa3c8604caeb02dada&auto=format&fit=crop&w=1950&q=80
{% endcapture %}
{% include gallery images=images caption="Sample 3" cols=2 %}

{% capture images %}
https://images.unsplash.com/photo-1517137904679-2131f676b1bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1048307ed33c4bd6a4fa1f2845e8195&auto=format&fit=crop&w=2762&q=80
{% endcapture %}
{% include gallery images=images caption="Sample 4" cols=1 %}

{% capture images %}
https://images.unsplash.com/photo-1502486628998-fb29027f8f88?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6dbcd92743c9d62bffa2d78d54bdd226&auto=format&fit=crop&w=2378&q=80
{% endcapture %}
{% include gallery images=images caption="Sample 5" cols=1 %}

{% capture images %}
    https://images.unsplash.com/photo-1470756544705-1848092fbe5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32552087ae3cf3e13a9b043a7f171141&auto=format&fit=crop&w=2688&q=80
{% endcapture %}
{% include gallery images=images caption="Sample 6" cols=1 %}

{% capture images %}
    https://pp.userapi.com/c844618/v844618233/c5496/Gielj1uyyyo.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть" cols=1 %}

{% capture images %}
    https://pp.userapi.com/c844618/v844618233/c54b8/ESS8Vo8HmXo.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть Астрахани" cols=1 %}

{% capture images %}
    https://pp.userapi.com/c844618/v844618233/c54c0/CwbEQX2Jw2c.jpg
{% endcapture %}
{% include gallery images=images caption="Sample 2" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c54c9/nwv7hLiXXZo.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть с. Терекли" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c54db/J0mT5vraOeE.jpg
{% endcapture %}
{% include gallery images=images caption="Işıkören, Eskişehir, Турция" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c54e4/FPqdxuod0N0.jpg
{% endcapture %}
{% include gallery images=images caption="Аневский" cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c54ec/rbvfntCLVhM.jpg
{% endcapture %}
{% include gallery images=images caption="Артезиан-Мангит Ставропольский край" cols=1 %}

{% capture images %}
    https://pp.userapi.com/c844618/v844618233/c54f5/SE6f4l3uPMA.jpg
{% endcapture %}
{% include gallery images=images caption="Джума мечеть, с. Канглы" cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c552a/3BRk2vfEMp0.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть с. Карагас" cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c553c/VEU44B_w1bE.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть с. Каясула" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c5564/m_IR1esoakk.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть в ауле Новкус-Артезиан" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c5584/QWczZSf7uRg.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть в Ораз ауле (с. Красноударник)" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c55ba/EzVxMKGJQ6g.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть в селе Иргаклы" cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c55a1/MmlHUFqVvnY.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть им. шейха Байрама кады. с. Таьтли-булак." cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c55a8/Htexa5D5NYc.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть Рамадан в поселке Свободный" cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c55b1/6gJs2iOkmrU.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть с. Красноударник, ЧР" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c55c2/rtEgvOj67lk.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть. Минераловодский район. с. Канглы" cols=1 %}

{% capture images %}
https://pp.userapi.com/c844618/v844618233/c55d5/TnRLtNS3BKc.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть с. Нариман" cols=1 %}

{% capture images %}
https://pp.userapi.com/c850232/v850232751/2833/R3GJuNu1qZ8.jpg
{% endcapture %}
{% include gallery images=images caption="Мечеть г. Сургут" cols=1 %}

{% capture images %}
   https://pp.userapi.com/c844618/v844618233/c5607/Kzs-7ZHAI7E.jpg
{% endcapture %}
{% include gallery images=images caption="Новая мечеть в ауле Адиль-Халк. КЧР." cols=1 %}